<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
	<%= f.password_field :password %>
  </P>

  <%= f.submit "Log in" %>

<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
