<h1>Book conference hall</h1>

<%= form_for(:booked_room , url: booked_rooms_path) do |f| %>

  <p>
    <%= f.label :room ,"Select room" %><br>
    <%= f.collection_select(:room_id, @rooms, :id, :name) %>
  </p>

  <p>
    <%= f.label :check_in_time ,"Book from" %><br>
    <%= f.datetime_local_field :check_in_time, value:(DateTime.now+1) , min:(DateTime.now)%>
  </p>
  
  <p>
    <%= f.label :check_out_time ,"to" %><br>
    <%= f.datetime_local_field :check_out_time, value:(DateTime.now+1) , min:(DateTime.now)%>
  </p>
  
  <p>
    <%= f.submit "Book Room"%>
  </p>
<% end %>

<br>
<br>
<p> <%= link_to "Logout", controller: "session", action: "destroy" %></p>
<p><%= link_to "Add new Conference room!",  controller: "room", action: "new"  %></p>
<p><%= link_to "Add holiday!",  controller: "holiday", action: "new"  %></p>